@model Somativa.Models.Venda

@{
    ViewData["Title"] = "Detalhes da Venda";
}

<div class="container">
    <h1 class="text-white">Detalhes da Venda</h1>

    <div>
        <hr class="text-white" />
        <dl class="row">
            <dt class="col-sm-2 text-white">
                @Html.DisplayNameFor(model => model.Nota)
            </dt>
            <dd class="col-sm-10 text-white">
                @Html.DisplayFor(model => model.Nota)
            </dd>
            <dt class="col-sm-2 text-white">
                @Html.DisplayNameFor(model => model.Cliente)
            </dt>
            <dd class="col-sm-10 text-white">
                @Html.DisplayFor(model => model.Cliente.Nome)
            </dd>
            <dt class="col-sm-2 text-white">
                @Html.DisplayNameFor(model => model.DataHora)
            </dt>
            <dd class="col-sm-10 text-white">
                @Html.DisplayFor(model => model.DataHora)
            </dd>
        </dl>
    </div>
    <div class="mt-4">
        <a class="btn text-white" style="background-color:darkblue" asp-action="Edit" asp-route-id="@Model?.VendaId">Editar</a>
        <a class="btn btn-secondary ms-3" asp-action="Index">Cancelar</a>
    </div>
</div>


